/* TOP BAR */
@import"https://raw.githubusercontent.com/Nolise/mal/master/topbar.css";

/* ANIME COVERS */
 @import"http://dl.dropbox.com/u/49469857/MAL/premade/anime.css";
 @import"https://raw.githubusercontent.com/Nolise/mal/master/covers.css";

/* BACKGROUND */
 body {
    background-attachment:fixed;
    background-clip:border-box;
    background-color:transparent;
    background-image:url(http://oi56.tinypic.com/2r753zq.jpg);
    background-position:0 0;
    background-repeat:no-repeat no-repeat;
    background-size:cover;
    cursor:url(http://i45.tinypic.com/43vxy.png), auto;
    font-family:'comic Sans MS';
}
/* SECOND BACKGROUND (SENA)*/
 #inlineContent {
    background-image:url(http://i48.tinypic.com/34s2o42.png);
    background-position:-9% 0;
    background-repeat:no-repeat no-repeat;
    display:inline-block !important;
    height:3000px !important;
    left:0 !important;
    margin:auto !important;
    position:fixed !important;
    right:0 !important;
    top:0 !important;
    width:3000px !important;
    z-index:-1 !important;
}
/*SIZE OF LIST & TITLE */
 #list_surround {
    background-attachment:scroll;
    background-color:transparent;
    background-image:url(http://i49.tinypic.com/565w0.png);
    background-position:50% -60px;
    background-repeat:no-repeat no-repeat;
    font-size:81.25%;
    line-height:1;
    margin:0 auto;
    padding-bottom:10px;
    padding-top:232px;
    position:absolute;
    right:50px !important;
    width:800px;
}
/*TEXT COLOR*/
 a {
    color:#FFFFFF;
    cursor:url(http://i45.tinypic.com/43vxy.png), auto;
    text-decoration:none;
    text-shadow:none;
}
/*TEXT HOVER*/
 a:hover {
    color:#FFFFFF;
    cursor:url(http://i45.tinypic.com/43vxy.png), auto;
    text-shadow:none;
    text-decoration: underline;
}
/*HEADER COLOR*/
 .table_header {
    background-color:rgba(0, 100, 185, 0.901961);
}
/*ROUNDED CORNER ON TOP LEFT*/
 .table_header:first-of-type {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:20px;
    border-top-right-radius:0;
}
/*MOVING HEADER TITLE OVER */
 .table_header:nth-of-type(2) {
    padding-left:35px;
    text-align:left;
}
/*ROUNDER CORNER ON TOP RIGHT */
 .table_header:last-of-type {
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-top-left-radius:0;
    border-top-right-radius:20px;
}
/*ROW COLORS*/
 .td1 {
    background-color:rgba(0, 120, 235, 0.901961);
    height:65px;
}
.td2 {
    background-color:rgba(0, 139, 235, 0.901961);
    height:65px;
}
/*DONT WORRY ABOUT THIS*/
 .table_header, .td1, .td2, .status_selected, .status_not_selected, .category_totals {
    border:0 none;
    padding:4px;
    text-align:center;
    vertical-align:top;
}
.table_header, .td1, .td2, .category_totals {
    color:white;
}
.borderRBL {
    line-height:normal !important;
}
[cellspacing="0"] {
    line-height:17px;
}
/*CATEGORY TOTALS*/
 .category_totals {
    background-color:rgba(0, 100, 185, 0.901961);
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:0;
    border-top-right-radius:0;
    color:#FFFFFF;
    text-align:center;
}
/*DONT WORRY ABOUT THIS*/
[class^="header_"] * {
    background-repeat:no-repeat no-repeat;
    font-size:0;
    height:200px;
    line-height:24px;
    padding-bottom:4px;
    text-align:right;
    vertical-align:bottom;
}
.header_title {
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    color:#FFFFFF;
    display:inline-block;
    font-style:italic;
    height:auto;
    padding:0 8px 0 0;
    text-shadow:rgba(0, 0, 0, 0.14902) 0 1px 1px;
}
/* GRAND TOTALS */
 #grand_totals {
    background-color:rgba(0, 46, 184, 0.8);
    border:0 none;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    color:#FFFFFF;
    line-height:20px;
    min-height:20px;
    padding:8px;
    text-align:center;
    vertical-align:middle;
}
/*COPYRIGHT DONT REMOVE*/
 #copyright {
    background-color:rgba(180, 32, 48, 0.6);
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    color:#EEEEEE;
    line-height:17px;
    margin-top:10px;
    padding:8px;
    text-align:center;
}
#copyright::after {
}
/*DVD COVERS WITHOUT HOVER*/
 .hide {
    background-color:rgba(248, 162, 200, 0.701961);
    background-position:50% 50%;
    background-repeat:no-repeat no-repeat;
    background-size:cover;
    border:1px solid #FFFFFF;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
    border-top-left-radius:0px;
    border-top-right-radius:7px;
    display:inline-block !important;
    height:55px;
    margin-left:33px;
    margin-top:-65px;
    position:absolute;
    width:35px;
}
/*DVD COVERS WITH HOVER*/
 .hide:hover {
    background-color:transparent;
    background-repeat:no-repeat no-repeat;
    background-size:cover;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    box-shadow:rgba(63, 52, 60, 0.54902) 0 0 8px 8px;
    margin-left:-140px;
    padding-right:150px;
    padding-top:220px !important;
    position:absolute;
    z-index:1;
}
/*MOVING ANIME TITLES OVER*/
 .td1:nth-of-type(2), .td2:nth-of-type(2) {
    padding-left:35px;
    text-align:left;
}
/*DONT MESS WITH THIS*/
 .td1:nth-of-type(6), .td2:nth-of-type(6) {
    background-attachment:scroll;
    background-color:transparent;
    background-image:none;
    background-position:0 0;
    background-repeat:repeat repeat;
    border-bottom-style:none !important;
    border-bottom-width:medium !important;
    display:inline-block;
    font-family:cursive;
    font-size:9pt;
    height:0 !important;
    left:70px;
    line-height:16px !important;
    margin-top:16px;
    position:absolute;
    text-align:justify !important;
    width:720px;
    z-index:2;
}
.table_header:nth-of-type(6) {
    display:none;
}
span[id*="tagRow"] {
    display:block !important;
}
span[id*="tagLinks"] {
    display:none !important;
}
a, .td1, .td2, .category_totals {
    -webkit-transition:all 0.25s ease-in-out 0s;
}
/*CATEGORY LINKS, CURRENTLY WATCHING*/
 #list_surround .status_selected, #list_surround .status_not_selected {
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
    background-color:transparent;
    background-image:url(http://i51.tinypic.com/2e0qu02.png);
    background-position:100% 0;
    background-repeat:no-repeat no-repeat;
    background-size:contain;
    border:1px solid #FFFFFF;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    display:block;
    left:-55%;
    padding:0;
    position:absolute;
    top:374px;
    width:400px;
}
/*COMPLETED*/
 #list_surround .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected {
    background-image:url(http://i56.tinypic.com/okc0b5.png);
    background-position:100% 0;
    top:474px;
}
/*ON HOLD*/
 #list_surround .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected {
    background-image:url(http://i56.tinypic.com/npjgxy.png);
    background-position:0 0;
    top:574px;
}
/*DROPPED*/
 #list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-image:url(http://i53.tinypic.com/apiaud.png);
    background-position:100% 0;
    top:674px;
}
/*PLAN TO WATCH*/
 #list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-image:url(http://i52.tinypic.com/2emj6hg.png);
    background-position:0 0;
    top:774px;
}
/*ALL ANIME*/
 #list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
    background-image:url(http://i51.tinypic.com/4volcp.png);
    background-position:100% 0;
    top:874px;
}
/*SIZE OF CATEGORY BOXES*/
 .status_selected a, .status_not_selected a, .status_selected:hover a, .status_not_selected:hover a {
    color:transparent;
    display:block;
    height:80px;
    width:400px;
}
/*CURRENTLY WATCHING HEADER*/
 .header_cw {
    background-color:transparent;
    background-image:url(http://i53.tinypic.com/xm5og3.png);
    background-position:0 135px;
    background-repeat:no-repeat no-repeat;
    height:50px;
    margin-bottom:0;
    margin-top:-100px;
}
/*COMPLETED HEADER*/
 .header_completed {
    background-color:transparent;
    background-image:url(http://i55.tinypic.com/345htew.png);
    background-position:0 135px;
    background-repeat:no-repeat no-repeat;
    height:50px;
    margin-bottom:0;
    margin-top:-100px;
}
/*ON HOLD HEADER*/
 .header_onhold {
    background-color:transparent;
    background-image:url(http://i54.tinypic.com/35ddaaa.png);
    background-position:0 135px;
    background-repeat:no-repeat no-repeat;
    height:50px;
    margin-bottom:0;
    margin-top:-100px;
}
/*DROPPED HEADER*/
 .header_dropped {
    background-color:transparent;
    background-image:url(http://i52.tinypic.com/rw6kbl.png);
    background-position:0 135px;
    background-repeat:no-repeat no-repeat;
    height:50px;
    margin-bottom:0;
    margin-top:-100px;
}
/*PLAN TO WATCH HEADER*/
 .header_ptw {
    background-color:transparent;
    background-image:url(http://i52.tinypic.com/epg2fc.png);
    background-position:0 135px;
    background-repeat:no-repeat no-repeat;
    height:50px;
    margin-bottom:0;
    margin-top:-100px;
}
/*CATEGORY LINK STUFF*/
 .status_selected {
    display:block;
}
.status_not_selected {
    display:block;
}
.status_not_selected {
    opacity:1;
}
.status_not_selected:hover {
    color:transparent;
    opacity:1;
}
/*COLOR OF THE "AIRING EXT." TEXT*/
 .animetitle + small {
    color:#FF809F !important;
    font-weight:bold;
}
/*MAKES STUFF TRANSITION*/
 * {
    -webkit-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
}
.hide:hover:after {
    background: transparent;
    content:" ";
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 210px;
    z-index: 20;
}
