@import "https://cdn.rawgit.com/Nolise/mal/4f95956d/FULL.css";
@import url(https://malcat-gen.appspot.com/series?preset=more);
@import "https://cdn.rawgit.com/Nolise/mal/4f95956d/topbar.css";
body {
background-attachment:fixed;
background-clip:border-box;
background-color:transparent;
background-image:url(https://cdn.rawgit.com/Nolise/mal/30e91dbe/2674254.jpg?raw=true);
background-position:0 50%, 0 0;
background-repeat:no-repeat no-repeat;
background-size:cover;
font-family:calibri;
}
#inlineContent {
display:inline-block !important;
height:1200px !important;
left:0 !important;
margin:auto !important;
position:fixed !important;
right:0 !important;
top:0 !important;
width:1200px !important;
z-index:-1 !important;
}
#list_surround {
background-attachment:scroll;
background-color:transparent;
background-position:40px -10px;
background-repeat:no-repeat no-repeat;
font-size:87%;
line-height:1;
margin:0 auto;
padding-bottom:60px;
padding-top:0px;
position:absolute;
right:240px !important;
width:800px;
}
a {
color:#FFFFFF;
text-decoration:none;
text-shadow:none;
}
a:hover {
text-decoration:underline;
}
.table_header {
background-color:rgba(0, 0, 0, 0.5);
}
.table_header:first-of-type {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border-top-left-radius:10px;
border-top-right-radius:0;
}
.table_header:nth-of-type(2) {
padding-left:35px;
text-align:left;
}
.table_header:last-of-type {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border-top-left-radius:0;
border-top-right-radius:10px;
}
.td1 {
background-color:rgba(0, 0, 0, 0.4);
height:65px;
}
.td2 {
background-color:rgba(0, 0, 0, 0.4);
height:65px;
}
.table_header, .td1, .td2, .status_selected, .status_not_selected, .category_totals {
border:0 none;
padding:4px;
text-align:center;
vertical-align:top;
}
.table_header, .td1, .td2, .category_totals {
color:white;
}
.borderRBL {
line-height:normal !important;
}
[cellspacing="0"] {
line-height:17px;
}
#copyright {
background-color:rgba(0, 0, 0, 0.6);
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-top-left-radius:3px;
border-top-right-radius:3px;
color:#EEEEEE;
line-height:17px;
margin-top:10px;
padding:8px;
text-align:center;
}
#copyright::after {
}
#grand_totals {
background-color:rgba(0, 0, 0, 0.6);
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-top-left-radius:3px;
border-top-right-radius:3px;
color:#EEEEEE;
line-height:17px;
margin-top:10px;
padding:8px;
text-align:center;
}
#grands-totals::after {
}
.category_totals {
background-color:rgba(0, 0, 0, 0.6);
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-top-left-radius:3px;
border-top-right-radius:3px;
color:#EEEEEE;
line-height:17px;
margin-top:10px;
padding:8px;
text-align:center;
}
.hide {
background-color:rgba(248, 162, 200, 0.701961);
background-position:50% 50%;
background-repeat:no-repeat no-repeat;
background-size:cover;
border:1px solid #FFFFFF;
border-bottom-left-radius:7px;
border-bottom-right-radius:7px;
border-top-left-radius:7px;
border-top-right-radius:0;
display:inline-block !important;
height:55px;
margin-left:33px;
margin-top:-65px;
position:absolute;
width:35px;
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
padding-left:35px;
text-align:left;
}
.td1:nth-of-type(6), .td2:nth-of-type(6) {
background-attachment:scroll;
background-color:transparent;
background-image:none;
background-position:0 0;
background-repeat:repeat repeat;
border-bottom-style:none !important;
border-bottom-width:medium !important;
display:inline-block;
font-family:cursive;
font-size:9pt;
height:0 !important;
left:70px;
line-height:16px !important;
margin-top:16px;
position:absolute;
text-align:justify !important;
width:720px;
z-index:2;
}
.table_header:nth-of-type(6) {
display:none;
}

/*
CATEGORY MENU BUTTONS TRANSITION SPEED
By default, set to .25th of a second (a 1/4 of a second transition).
*/
.status_not_selected a {
transition: all 0.15s ease-in-out 0s;
}


/*
CATEGORY MENU BUTTONS (BACKGROUNDS/POSITION)
You can also change the position of the buttons on the page with the right/top buttons. Change right to left to start them from the left side instead.

Active button images are the ones seen on their own category page or when hovering over them (pointing to it with your mouse), and inactive are the others. So on the completed page you'll see the active button's image on the completed button. On other pages, you'll see the inactive image, until you point to it. 
*/

/*
CURRENT BUTTON (INACTIVE)
*/
.status_not_selected a[href*="status=1"] {
background-image: url(http://i.imgur.com/QYequeB.png);
top: 60px;
left: -55px;
opacity: .6;
}


/*
CURRENT BUTTON (ACTIVE, HOVER)
*/
.status_selected a[href*="status=1"], .status_not_selected a[href*="status=1"]:hover{
background-image: url(http://i.imgur.com/QYequeB.png);
top: 60px;
left: -5px;
opacity: .99;
}


/*
COMPLETED (INACTIVE)
*/
.status_not_selected a[href*="status=2"] {
background-image: url(http://i.imgur.com/ZejCgff.png);
top: 150px;
left: -55px;
opacity: .6;
}

/*
COMPLETED (ACTIVE, HOVER)
*/
.status_selected a[href*="status=2"], .status_not_selected a[href*="status=2"]:hover {
background-image: url(http://i.imgur.com/ZejCgff.png);
top: 150px;
left: -5px;
opacity: .99;
}

/*
ON-HOLD (INACTIVE)
*/
.status_not_selected a[href*="status=3"] {
background-image: url(http://i.imgur.com/Rl0jYj7.png);
top: 240px;
left: -55px;
opacity: .6;
}

/*
ON-HOLD (ACTIVE, HOVER)
*/
.status_selected a[href*="status=3"], .status_not_selected a[href*="status=3"]:hover {
background-image: url(http://i.imgur.com/Rl0jYj7.png);
top: 240px;
left: -5px;
opacity: .99;
}

/*
DROPPED (INACTIVE)
*/
.status_not_selected a[href*="status=4"] {
background-image: url(http://i.imgur.com/uxxyVO6.png);
top: 330px;
left: -55px;
opacity: .6;
}

/*
DROPPED (ACTIVE, HOVER)
*/
.status_selected a[href*="status=4"], .status_not_selected a[href*="status=4"]:hover {
background-image: url(http://i.imgur.com/uxxyVO6.png);
top: 330px;
left: -5px;
opacity: .99;
}

/*
PLANNED (INACTIVE)
*/
.status_not_selected a[href*="status=6"] {
background-image: url(http://i.imgur.com/kFrr0Pt.png);
top: 420px;
left: -55px;
opacity: .6;
}

/*
PLANNED (ACTIVE, HOVER)
*/
.status_selected a[href*="status=6"], .status_not_selected a[href*="status=6"]:hover {
background-image: url(http://i.imgur.com/kFrr0Pt.png);
top: 420px;
left: -5px;
opacity: .99;
}

/*
ALL ANIME (INACTIVE)
*/
.status_not_selected a[href*="status=7"] {
background-image: url(http://i.imgur.com/zzGkXlj.png);
top: 510px;
left: -55px;
opacity: .6;
}

/*
ALL ANIME (ACTIVE, HOVER)
*/
.status_selected a[href*="status=7"], .status_not_selected a[href*="status=7"]:hover {
background-image: url(http://i.imgur.com/zzGkXlj.png);
top: 510px;
left: -5px;
opacity: .99;
}

/*
BUTTON TEXT
This section is disabled by default. The fonts you see on buttons by default are in the default custom images, which you change above. If you want the original text back in the buttons, change "transparent !important" below to the color you want. You can also change the font size here or add a custom font family.
*/
.status_selected a, .status_not_selected a {
color: transparent !important;
text-decoration: none !important;
text-align: left;
font-size: 20px;
font-family: ;
}

/*
OTHER CATEGORY BUTTON CODES (HEIGHT/WIDTH/COLOR)
Control the height and width of all the buttons at once here. Change "fixed" to "absolute" to keep the buttons from scrolling down with the page. Border radius controls the button's roundness.
*/
.status_selected a[href*="status=1"],
.status_selected a[href*="status=2"],
.status_selected a[href*="status=3"],
.status_selected a[href*="status=4"],
.status_selected a[href*="status=6"],
.status_selected a[href*="status=7"],
.status_not_selected a[href*="status=1"],
.status_not_selected a[href*="status=2"],
.status_not_selected a[href*="status=3"],
.status_not_selected a[href*="status=4"],
.status_not_selected a[href*="status=6"],
.status_not_selected a[href*="status=7"] {
background-color: transparent;
background-position: right top;
background-repeat: repeat repeat;
background-size: contain;
display: block;
height: 80px;
width: 230px;
padding-left: 6px !important;
overflow: auto;
padding: 0;
border: white 0px solid;
border-radius: 0px 11px 11px 0px;
position: fixed;
}
  .header_title {
  display: none;
}
.header_cw {
background-image:url(http://ipic.su/img/img7/fs/cooltext1104771506.1373120274.png);
height: 95px;
  margin-top: 20px;
margin-bottom: 20px;
background-color: transparent;
background-repeat: no-repeat;
background-position: center;
position:relative;
   opacity:0.7;
}

.header_completed {
background-image:url(http://ipic.su/img/img7/fs/cooltext1104651260.1373111973.png);
height: 95px;
  margin-top: 20px;
margin-bottom: 20px;
background-color: transparent;
background-repeat: no-repeat;
background-position: center;
position:relative;
   opacity:0.7;
}
  .header_title {
  display: none;
}

.header_onhold {
background-image:url(http://ipic.su/img/img7/fs/cooltext1104651699.1373112014.png);
height: 95px;
  margin-top: 20px;
margin-bottom: 20px;
background-color: transparent;
background-repeat: no-repeat;
background-position: center;
position:relative;
   opacity:0.7;
}

.header_dropped {
background-image:url(http://ipic.su/img/img7/fs/cooltext1104652199.1373112041.png);
height: 95px;
  margin-top: 20px;
margin-bottom: 20px;
background-color: transparent;
background-repeat: no-repeat;
background-position: center;
position:relative;
   opacity:0.7;
}

.header_ptw {
background-image:url(http://ipic.su/img/img7/fs/cooltext1104652651.1373112079.png);
height: 95px;
margin-top: 20px;
margin-bottom: 20px;
background-color: transparent;
background-repeat: no-repeat;
background-position: center;
position:relative;
  opacity:0.7;
}
.status_selected {
display:block;
}
.status_not_selected {
display:block;
}
.status_not_selected {
opacity:0.7;
}
.status_not_selected:hover {
color:transparent;
opacity:1;
}
* {
-webkit-transition:all 0.25s ease-in-out;
transition:all 0.25s ease-in-out;
}
.animetitle + small {
color:#F5B800 !important;
font-size:87%;
font-weight:bold;
}

